<div id="<%= dom_id order_product %>">
  <p>
    <strong>Product:</strong>
    <%= render order_product.product %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= order_product.quantity %>
  </p>

</div>
